@import "responsive-font-size";
$accent-color: #1845AD;
$lighter-color: #95989A;

.blog {
	margin-bottom: 10vh;
	.blog-list {
		max-width: 600px;
		margin: 0 auto;
		margin-top: 8vh;
		text-align: center;
		.blog-name {
			h2 {
				font-weight: 600;
				@include responsive-font-size (1.6em, 2em, 350px, 1200px, 0.5em);
			}
			a {
				color: $accent-color;
			}
			p {
				margin-bottom: 8vh;
				color: $lighter-color;
				font-weight: 600;
				@include responsive-font-size (1.1em, 1.5em, 350px, 1200px, 0.5em);
			}
			img {
				max-width: 200px;
				display: inline-block;
				margin: 0 auto;
				margin-bottom: 3vh;
			}
		}
	}
	.heading {
		max-width: 1100px;
		margin: 0 auto;
		text-align: center;
		margin-bottom: 7vh;
		background-color: $accent-color;
		color: white;
		padding: 15px;
		h2 {
			font-weight: 700;
			margin-bottom: 2vh;
			margin-top: 4vh;
			@include responsive-font-size (1.8em, 3.2em, 350px, 1200px, 0.5em);
			text-transform: uppercase;
		}
		p {
			@include responsive-font-size (.85em, 1.3em, 350px, 1200px, 0.5em);
			max-width: 800px;
			margin: 0 auto;
			padding-bottom: 35px;
		}
	}
	.posts {
		max-width: 800px;
		margin: 0 auto;
		.post {
			margin-bottom: 8vh;
			h3 {
				font-weight: 700;
				margin-bottom: 2vh;
				margin-top: 0;
				@include responsive-font-size (1.6em, 2.3em, 640px, 1200px, 0.5em);
				span {
					font-weight: 800;
				}
			}
			p {
				@include responsive-font-size (1em, 1.3em, 640px, 1200px, 0.5em);
				margin-bottom: 20px;
			}
			.date {
				margin-bottom: 5px;;
				font-weight: 700;
				color: $lighter-color;
			}
		}
	}
	.after-post {
		h4 {
			font-weight: 700;
			margin-top: 25px;
			@include responsive-font-size (1.2em, 1.6em, 640px, 1200px, 0.5em);
		}
		li a {
			@include responsive-font-size (1em, 1.2em, 640px, 1200px, 0.5em);
			color: $accent-color;
		}
		.post-end {
			margin-top: 35px;
			font-style: italic;
		}
	}
}

#upBtn {
    display: none;
		width: 50px;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    background-color: $accent-color;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 100px;
	&:hover {
    background-color: $accent-color *1.2;
		}
}
