@import "responsive-font-size";
$accent-color: #1845AD;
$lighter-color: #95989A;

.contact-info {
	text-align: left;
	padding: 0 10px 0 10px;
	margin: 0 auto;
	max-width: 1000px;
	margin-top: 8vh;
	h2 {
		@include responsive-font-size (1.5em, 2.1em, 640px, 1200px, 0.5em);
	}
	p {
		color: $lighter-color;
		@include responsive-font-size (1em, 1.5em, 640px, 1200px, 0.5em);
		margin-bottom: 5vh;
	}
	i, a {
		color: $lighter-color;
	}
}
