@import "responsive-font-size";
$accent-color: #1845AD;
$lighter-color: #95989A;


.portfolio {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0;
	.more {
		display: block;
	}
	.row {
		margin: 2vh 0 4vh 0;
		padding: 0;
	}
}
