@import "responsive-font-size";
$accent-color: #1845AD;
$lighter-color: #95989A;

@media screen and (min-width: 0px) and (max-width: 765px) {
	.portfolio {
		.category {
			h2 {
				margin-bottom: 0;
			}
		}
	}
}

@media screen and (min-width: 766px) and (max-width: 5000px) {
	.portfolio {
		.category {
			h2 {
				margin-bottom: 3vh;
			}
		}
	}
}

.portfolio {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0;
	margin-top: -5vh;
	margin-bottom: 8vh;
	.category {
		h2 {
			display: inline-block;
			@include responsive-font-size (1.8em, 2.8em, 640px, 1200px, 0.5em);
			text-indent: 12px;
			font-weight: 600;
			margin-bottom: 5vh;
		}
		a {
			display: inline-block;
			margin-left: 10px;
			color: $lighter-color;
			font-weight: 600;
		}
	}
	.portfolio-item {
		margin-bottom: 5vh;
		h4 {
			text-align: center;
			a {
				color: black;
				font-weight: 600;
				font-size: 1.2em;
			}
			& :hover {
			text-decoration: none;
			color: $lighter-color;
			}
		}
		img {
			padding: 5px;
			margin-bottom: 20px;
		}
		.card-text {
			margin-top: 10px;
			text-align: center;
			@include responsive-font-size (.9em, 1.1em, 340px, 1200px, 0.5em);
		}
		.ironhack {
			max-width: 200px;
			margin: 0 auto;
			margin-bottom: 25px;
		}
		.myicon {
			max-width: 65%;
			padding: 0px 10px 20px 10px;
			margin: 0 auto;
		}
		.ifttt {
			margin-top: -20px
		}
		.neat {
			max-width: 48%;
			margin: 0 auto;
			margin-top: -20px;
		}
		.spotify {
			padding: 18px;
		}
		.google-logo {
			padding: 35px;
			margin: 0 auto;
			margin-top: -20px;
		}
	}
}
