@import "responsive-font-size";
$accent-color: #1845AD;
$lighter-color: #95989A;

@media screen and (min-width: 0px) and (max-width: 765px) {
	.skills {
		img {
			max-width: 50px;
			height: auto;
		}
		.sass, .node, .react, .vue, .python, .ruby, .java, .aws, .heroku, .illustrator, .photoshop, .ionic, .lightroom, .indesign, .xd, .webpack, .d3, .figma, .net, .portuguese {
			width: 10rem;
		}
		.express {
			width: 4.5rem;
		}
		.redux, .csharp, .backbone, .graphQL {
			width: 9.5rem;
		}
		.go {
			width: 4rem;
		}
		.spanish {
			width: 8.2rem;
		}
		.italian {
			width: 3.5rem;
		}
		.php {
			width: 10rem;
			padding-bottom: 10px;
		}
		.firebase {
			width: 4rem;
		}
	}
}


@media screen and (min-width: 766px) and (max-width: 25000px) {
	.skills {
		img {
			max-width: 100px;
			height: auto;
		}
		.sass, .node, .react, .vue, .python, .ruby, .java, .aws, .heroku, .illustrator, .photoshop, .ionic, .lightroom, .indesign, .xd, .webpack, .d3, .figma, .net, .portuguese {
			width: 10rem;
		}
		.express {
			width: 8.5rem;
		}
		.redux, .csharp, .backbone, .graphQL {
			width: 9.5rem;
		}
		.go {
			width: 7rem;
		}
		.spanish {
			width: 8.2rem;
		}
		.italian {
			width: 6rem;
		}
		.firebase {
			width: 7.5rem;
		}
		.php {
			width: 10rem;
			padding-bottom: 15px;
		}
		.ember {
			width: 11rem;
			margin-bottom: 40px;
		}
		.azure {
			width: 10rem;
			margin-bottom: 10px;
		}
	}
}


.skills {
	max-width: 700px;
	margin: 0 auto;
	margin-bottom: 10vh;
	h2 {
		text-align: center;
		text-transform: uppercase;
		font-weight: 600;
		margin-bottom: 3vh;
		@include responsive-font-size (1.8em, 2.2em, 640px, 1200px, 0.5em);
	}
	p {
		margin-top: 13px;
		@include responsive-font-size (.9em, 1.2em, 640px, 1200px, 0.5em);
	}
	ul {
		list-style-type: none;
		margin: 0 auto;
		text-align: center;
		padding: 0;
		margin-bottom: 5vh;
	}
	li {
		display: inline-block;
		text-align: center;
		padding-left: 0;
		margin: 15px 25px;
	}
	img {
		margin-bottom: 1vh;
		font-size: 16px;
	}
//	.sass, .node, .react, .vue, .python, .ruby, .java, .aws, .heroku, .illustrator, .photoshop, .ionic, .lightroom, .indesign, .xd, .webpack, .d3, .figma, .net, .portuguese {
//		width: 10rem;
//	}
//	.express {
//		width: 8.5rem;
//	}
//	.redux, .csharp, .backbone {
//		width: 9.5rem;
//	}
//	.go {
//		width: 7rem;
//	}
//	.spanish {
//		width: 8.2rem;
//	}
//	.italian {
//		width: 6rem;
//	}
//	.php {
//		width: 10rem;
//		padding-bottom: 15px;
//	}
}
