@import "responsive-font-size";
$accent-color: #1845AD;
$lighter-color: #95989A;

@media screen and (min-width: 0px) and (max-width: 765px) {
	.skills {
		img {
			max-width: 50px;
		}
	}
}


@media screen and (min-width: 766px) and (max-width: 25000px) {
	.skills {
		img {
			max-width: 100px;
		}
	}
}

.skills {
	max-width: 1000px;
	margin: 0 auto;
	margin-bottom: 10vh;
	h2 {
		text-align: center
	}
	ul {
		list-style-type: none;
		margin: 0 auto;
		text-align: center;
		padding: 0;
	}
	li {
		display: inline-block;
		text-align: center;
		padding-left: 0;
		margin: 15px 25px;
	}
	img {
		margin-bottom: 1vh;
		font-size: 16px;
	}
	.sass, .node, .react, .vue, .python, .ruby, .java, .aws, .heroku, .illustrator, .photo {
		width: 100%;
	}
	.express {
		width: 85%;
	}
	.redux, .csharp {
		width: 95%;
	}
	.go {
		width: 70%;
	}
	.php {
		width: 100%;
		padding-bottom: 15px;
	}
}
