@import "responsive-font-size";
@import "contact";
@import "about";
@import "resume";
@import "skills";
@import "travel";
@import "photography";
@import "blog";
@import "portfolio";
@import "ironhack";
@import "apps";
@import "design";
@import "websites";
$accent-color: #1845AD;
$lighter-color: #95989A;

* {
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}


@media (hover:none), (hover:on-demand) {
	#toggle:hover {
		cursor: none;
	}
}


@media screen and (min-width: 0px) and (max-width: 765px) {
	#side-nav {
		display: none;
	}
	#toggle {
		display: block;
	}
}

@media screen and (min-width: 766px) and (max-width: 5000px) {
	#side-nav {
		display: block;
		position: fixed;
	}
	#content {
		display: block;
		position: absolute;
		right: 0;
	}
	#toggle {
		display: none;
	}
}

.display {
	display: block;
}

#active {
	color: $accent-color;
	font-weight: 700;
}

#active-about-contact {
	font-weight: 700;
	color: black;
}

#toggle {
	margin: 10px 0 -10vh 0;
	border: none;
	background-color: $accent-color;
	border-radius: 100px;
	height: 35px;
	width: 35px;
	color: white;
	font-weight: 700;
	position: relative;
	z-index: 2;
	&:focus {
		outline: 0;
	}
}

.side-bar {
	margin-top: 5vh;
	.name {
		align-self: auto;
		text-align: center;
		font-family: 'Heebo', sans-serif;
		h1 {
			color: $accent-color;
			@include responsive-font-size (1.75em, 3em, 640px, 1200px, 0.5em);
			margin-bottom: 5px;
			font-weight: 600;
			}
		h2 {
			@include responsive-font-size (1.3em, 1.8em, 640px, 1200px, 0.5em);
			margin-top: 0;
			font-weight: 400;
			color: $lighter-color;
			}
		}
	.list {
		text-align: center;
		margin-top: 8vh;
		list-style-type: none;
		padding: 0;
		li {
			margin-top: 2vh;
		}
		a {
			color: black;
			@include responsive-font-size (1.1em, 1.5em, 640px, 1200px, 0.5em);
		}
		& :hover {
			color: $accent-color;
			text-decoration: none;
			font-weight: 700;
		}
	}
	.about-contact {
		margin-top: 6vh;
		margin-bottom: 5vh;
		text-align: center;
		padding: 0;
		li {
			display: inline-block;
			margin-left: 20px;
			margin-right: 20px;
			a {
				color: $lighter-color;
				@include responsive-font-size (1em, 1.5em, 640px, 1200px, 0.5em);
			}
			& :hover {
				color: black;
				text-decoration: none;
				font-weight: 700;
			}
	}
}
}

.social {
	list-style-type: none;
	text-align: center;
	padding: 0;
	margin-top: 10vh;
	li {
		display: inline-block;
		margin: 0 20px 0 20px;
	}
	a {
		color: black;
	}
	& :hover {
		color: $accent-color;
	}
}

.content {
	margin-top: 5vh;
	h1 {
		font-family: 'Heebo', sans-serif;
		color: $accent-color;
		@include responsive-font-size (2.5em, 3.5em, 640px, 1200px, 0.5em);
		margin-bottom: 5vh;
		font-weight: 600;
//		text-transform: uppercase;
		text-align: center;
	}
}

.construction {
	img {
		max-width: 250px;
		margin-top: 10vh;
	}
	p {
		color: $lighter-color;
		margin-top: 5vh;
		text-align: center;
		@include responsive-font-size (1.4em, 2em, 640px, 1200px, 0.5em);
	}
}

