@import "responsive-font-size";
$accent-color: #1845AD;
$lighter-color: #95989A;

* {
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

@media screen and (min-width: 0px) and (max-width: 765px) {
  #side-nav { display: none; }
	#toggle {display: block; }
}

@media screen and (min-width: 766px) and (max-width: 20000px) {
  #side-nav { display: block; }
	#toggle {display: none; }
}

#active {
	color: $accent-color;
	font-weight: 700;
}


#active-about-contact {
	font-weight: 700;
	color: black;
}

#toggle {
	margin: 10px 0 -10vh 0;
	border: none;
	background-color: $accent-color;
	border-radius: 100px;
	height: 30px;
	width: 30px;
	color: white;
	font-weight: 700;
}

.side-bar {
	margin-top: 5vh;
	z-index: 5;
	.name {
		align-self: auto;
		text-align: center;
		font-family: 'Heebo', sans-serif;
		h1 {
			color: $accent-color;
			@include responsive-font-size (1.75em, 3em, 640px, 1200px, 0.5em);
			margin-bottom: 5px;
			font-weight: 600;
			}
		h2 {
			@include responsive-font-size (1.3em, 1.8em, 640px, 1200px, 0.5em);
			margin-top: 0;
			font-weight: 400;
			color: $lighter-color;
			}
		}
	.list {
		text-align: center;
		margin-top: 8vh;
		list-style-type: none;
		padding: 0;
		li {
			margin-top: 2vh;
		}
		a {
			color: black;
			@include responsive-font-size (1em, 1.5em, 640px, 1200px, 0.5em);
		}
	}
	.about-contact {
		margin-top: 5vh;
		margin-bottom: 5vh;
		text-align: center;
		padding: 0;
		li {
			display: inline-block;
			margin-left: 20px;
			margin-right: 20px;
			a {
				color: $lighter-color;
				@include responsive-font-size (1em, 1.5em, 640px, 1200px, 0.5em);
			}
	}
}
}

.social {
	list-style-type: none;
	text-align: center;
	padding: 0;
	margin-top: 10vh;
	li {
		display: inline-block;
		margin: 0 20px 0 20px;
	}
	a {
		color: black;
	}
}

.content {
	margin-top: 5vh;
	h1 {
		font-family: 'Heebo', sans-serif;
		color: $accent-color;
		@include responsive-font-size (2.5em, 3.5em, 640px, 1200px, 0.5em);
		margin-bottom: 5px;
		font-weight: 600;
		text-transform: uppercase;
		text-align: center;
	}
}

.contact-info {
	margin-top: 8vh;
	padding: 0 10px 0 10px;
	h2 {
		@include responsive-font-size (1.6em, 2.1em, 640px, 1200px, 0.5em);
	}
	p {
		color: $lighter-color;
		@include responsive-font-size (1em, 1.5em, 640px, 1200px, 0.5em);
		margin-bottom: 5vh;
	}
	i, a {
		color: $lighter-color;
	}
}

.construction {
	img {
		max-width: 250px;
		margin-top: 10vh;
	}
	p {
		color: $lighter-color;
		margin-top: 5vh;
		text-align: center;
		@include responsive-font-size (1.4em, 2em, 640px, 1200px, 0.5em);
	}
}

#mapdiv {
	margin-top: 5vh;
}
