* {
	font-family: 'Segoe UI';
	font-size: 15px;
	box-sizing: border-box;
}

@font-face {
	font-family: 'Anonymous Pro', monospace;
	font-family: 'Artifika', serif;
}

.navbar {
	margin: 0px auto;
	padding: 0px 20px;
	max-width: 1558px;
}

.navbar a {
	border-bottom: none;
}

.navbar li a:hover {
	border-bottom: none;
	color: #ed3e44;
	background-color: transparent;
}

.navbar-brand {
	padding-top: 30px;
}

.navbar-brand img {
	width: 25px;
}

.navbar-brand:hover {
	border-bottom: none;
}

.navbar-nav {
	font-size: 19px;
	font-weight: bold;
	color: black;
	padding: 18px 0 0 0;
	margin: auto;
}

.navbar-nav li a {
	font-size: 16px;
	font-weight: bold;
	color: black;
	padding-left: 20px;
}

.starter-template {
	margin-top: 150px;
	max-width: 1000px;
}

#neat {
	font-family: Artifika;
	font-size: 55px;
	margin: 0;
	padding: 0px;
	line-height: 60px;
}

#version {
	color:#999;
	font-size: 16px;
	text-indent: 2px;
}

.subh {
	font-size: 59px;
	color: #333333;
	margin-bottom: 30px;
}

.button {
	box-shadow: 0 1.25rem 1rem -1.5rem rgba(0, 212, 255, 0.3), 0 0.5rem 1.75rem -0.25rem rgba(0, 212, 255, 0.2), 0 1.25rem 2.5rem rgba(0, 212, 255, 0.1);
  background-color: #00d4ff;
  background-image: linear-gradient(to bottom right, #21e9f4, #00d4ff);
  border: 0;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
 	font-weight: 500;
	letter-spacing: 0.01em;
	line-height: 1;
	padding: 1em 2em;
	text-align: center;
	text-decoration: none;
	transition: background-color 150ms ease;
	user-select: none;
	vertical-align: middle;
	white-space: nowrap;
	transition: transform 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275), box-shadow 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.list {
	margin-top: 25px;
	padding-left: 20px;
}

.list li {
	font-size: 16px;
	line-height: 30px;
}

p code {
	background-color: rgba(0, 0, 0, 0.06);
	border-radius: 3px;
	padding: 0.2em 0;
	white-space: nowrap;
  font-family: "Anonymous Pro", "Consolas", "monaco", monospace;
	word-break: keep-all;
	color: rgb(51, 51, 51);
}

.container {
	margin: 0px auto;
	padding: 0px auto;
	max-width: 1000px;
}


.lead {
	font-size: 18px;
	font-family: Segoe UI;
	color: #333;
}

h1 {
	font-family: Artifika;
	font-size: 43px;
}

.footer {
	margin-top: 100px;
	padding-top: 78px;
	border-top: 5px solid #00d4ff;
	margin-bottom: 30px;
}

.footer p,a {
	font-size: 17px;
	line-height: 40px;
}

a {
	border-bottom: 1px solid #ed3e44;
	color: #ed3e44;
	text-decoration: none;
}

a:hover {
	border-bottom: .14em solid #ed3e44;
	color: #ed3e44;
	text-decoration: none;
}

