* {
	box-sizing: border-box;
}

@font-face {
	font-family: 'Roboto', sans-serif;
}

html {
  font-size: 14px;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 16px;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 20px;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 28px;
  }
}

body {
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

.navbar {
	background-color: rgba(22,22,55,.5);
	color: #fff;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
	height: 55px;
	line-height: 50px;
	margin: auto 0;
	padding: 0;
	font-size: 13px;
}
.navbar-nav {
	position: relative;
	top: -3px;
}

.navbar-brand {
	color: #fff;
	font-weight: 500;
	padding-left: 28px;
	font-size: 16pt;
}

.navbartext {
	max-width: 1200px;
	margin: auto;
}

.nav a:link {
	color: #fff;
}

.nav a:visited {
	color: #fff;
}

.nav a:active {
	color: #fff;
}

.nav li a:hover {
	color: #fff;
	text-decoration: underline;
  background-color: rgba(22,22,55,.5);
}

.background-image {
	width: 100%;
	margin: 0 auto;
	height: 420px;
	padding: 0;
	background-image: url(https://static.pexels.com/photos/2324/skyline-buildings-new-york-skyscrapers.jpg);
	background-size: cover;
	background-origin: border-box;
	background-position: center;
	background-repeat: no-repeat;
}

.logoimg {
	width: 300px;
}

.header {
	padding: 55px;
	color: white;
	text-align: center;
}

.top-header {
	max-width: 750px;
	margin: 115px auto 100px auto;
	padding: 0;
}

.header1 {
	font-size: 27px;
	font-weight: 300;
	color: #606c76;
	line-height: 35px;
	padding: 0px 20px;
	margin: auto;
}

.bottom-header {
	margin-bottom: 70px;
	margin-top: 0px;
	margin-right: auto;
	margin-left: auto;
	max-width: 1200px;
}

.easy {
	color: #76b24f;
	font-size: 38px;
	font-weight: 300;
	margin-bottom: 25px;
}

.modular {
	color: #4f91b2;
	font-size: 38px;
	font-weight: 300;
	margin-bottom: 25px;
}

.flexible {
	color: #d5635d;
	font-size: 38px;
	font-weight: 300;
	margin-bottom: 25px;
}

.subtext1 {
	color: #606c76;
	font-size: 18px;
	line-height: 28px;
	font-style: normal;
	font-weight: 300;
	padding: 0 10px;
	max-width: 475px;
	margin: auto;
}




/* COLOR CARDS SECTION */
.middle-info {
	margin: 0px;
}

.intro {
	background-color: #76b24f;
	color: #fff;
	height: auto;
	margin: auto;
	padding: 20px 20px 100px 20px;
	margin-bottom: 10px;
}

.hintro {
	font-size: 72px;
	line-height: 90px;
	font-weight: 300;
	text-align: left;
	max-width:800px;
	margin: auto;
}

.tintro {
	font-size: 28px;
	text-align: left;
	max-width: 900px;
	margin: auto;
}

.naming {
	background-color: #4f91b2;
	color: #fff;
	height: auto;
	margin: auto;
	margin-bottom: 10px;
	padding: 20px 20px 100px 20px;
}

.hnaming {
	font-size: 72px;
	line-height: 90px;
	font-weight: 300;
	text-align: right;
	max-width: 850px;
	margin: auto;
}

.tnaming {
	font-size: 28px;
	text-align: left;
	max-width: 900px;
	margin: auto;
}

.FAQ {
	background-color: #d5635d;
	color: #fff;
	height: auto;
	margin: auto;
	margin-bottom: 10px;
	padding: 20px 20px 130px 20px;
}

.hFAQ {
	font-size: 72px;
	line-height: 90px;
	font-weight: 300;
	text-align: left;
	max-width: 900px;
	margin: auto;
}

.tFAQ {
	font-size: 28px;
	text-align: left;
	max-width: 900px;
	margin: auto;
}

/*Companies*/
.hcompanies {
	font-size: 78px;
	font-weight: 300;
	line-height: 90px;
	color: #eee;
	margin-top: 5px;
	margin-bottom: 70px;
}

.companyimg {
	max-width: 1200px;
	margin: auto;
	margin-bottom: 200px;
}

.companyimg img {
	width: 150px;
	margin: 30px 25px;
}

#man {
	width: 180px;
}

#idpic {
	width: 60px;
}

#megafon {
	width: 250px;
}

#renuo {
	width: 200px;
}

#pluspic {
	width: 60px;
}

/*Footer*/
.footer {
	text-align: center;
	font-family: Roboto;
	color: #777777;
	font-size: 12px;
	line-height: 19px;
	font-weight: 300;
	padding-bottom: 150px;
}

.btn {
	padding: 3px 10px 3px 8px;
	font-size: 16px;
	font-weight: bold;
	line-height: 22px;
	border-radius: 4px;
	background-color: #eee;
	border: 1px solid #d5d5d5;
}

.finfo{
	padding-top: 20px;
	line-height: 15px;
}

.footer ul,li {
	list-style-type: none;
	padding: 5px;
	margin: 0;
	font-size: 14px;
}

.flinks li {
	display: inline-block;
	padding-top: 20px;
}
