* {
	box-sizing: border-box;
	text-align: center;
	font-family: Avenir;
	margin: auto;
}

@media screen and (min-width: 0px) and (max-width: 765px) {
	.top-header h1 {
		font-size: 30px;
		padding: 0 10px 40px 10px;
	}
	.top-header button {
		font-size: 30px;
		padding: 20px 60px;
		margin-bottom: 25px;
	}
	.top-header h3 {
		font-size: 25px;
		padding: 20px 20px;
	}
	.background-image {
		padding-bottom: 40px;
	}
	.navbar-brand {
		width: 125px;
		margin-left: 0;
	}
	.navbar-right {
		display: none;
	}
	.middleh {
		font-size: 25px;
		line-height: 35px;
		padding: 0 10px;
		margin: 40px 0;
	}
	.middle button {
		font-size: 25px;
		line-height: 27px;
		margin-top: 10px;
		border-radius: 100px;
		padding: 12px 30px;
	}
	.bottom h4 {
		font-size: 25px;
		margin: 40px 0;
		padding: 0 15px
	}
	#collection-google {
		font-size: 25px;
		width: 320px;
		height: 300px;
	}
	#collection-iOS {
		font-size: 25px;
		width: 320px;
		height: 300px;
	}
	#collection-android {
		font-size: 25px;
		width: 320px;
		height: 300px;
	}
	#collection-photography {
		font-size: 25px;
		width: 320px;
		height: 300px;
	}
	#collection-space {
		font-size: 25px;
		width: 320px;
		height: 300px;
	}
	#collection-start {
		font-size: 25px;
		width: 320px;
		height: 300px;
	}
	.footer {
		display: none
	}
}

@media screen and (min-width: 766px) and (max-width: 5000px) {
	.top-header h1 {
		font-size: 49px;
		max-width: 500px;
		padding: 40px 0px;
	}
	.top-header button {
		font-size: 60px;
		padding: 20px 120px;
		margin-bottom: 25px;
	}
	.top-header h3 {
		font-size: 29px;
		max-width: 500px;
		padding: 50px 0;
	}
	.background-image {
		padding-bottom: 100px;
	}
	.navbar-brand {
		width: 150px;
		margin-left: 10px;
	}
	.middleh {
		font-size: 30px;
		line-height: 35px;
		padding: 0;
		margin: 60px 170px 40px 170px;
	}
	.middle button {
		font-size: 27px;
		line-height: 27px;
		margin-top: 40px;
		border-radius: 100px;
		padding: 12px 40px;
	}
	.bottom h4 {
		font-size: 30px;
		margin-bottom: 40px;
		margin-top: 60px;
	}
	#collection-google {
		font-size: 29px;
		width: 467px;
		height: 354px;
	}
	#collection-iOS {
		font-size: 29px;
		width: 467px;
		height: 354px;
	}
	#collection-android {
		font-size: 29px;
		width: 467px;
		height: 354px;
	}
	#collection-photography {
		font-size: 29px;
		width: 467px;
		height: 354px;
	}
	#collection-space {
		font-size: 29px;
		width: 467px;
		height: 354px;
	}
	#collection-start {
		font-size: 29px;
		width: 467px;
		height: 354px;
	}
}



@font-face {
	font-family: Avenir;
	src: url(AvenirNextLTProBold.otf)
}

.background-image {
	height: auto;
	background-color: #0088ff;
}

.container-fluid {
	margin: 0px;
	padding: 0px;
}

.navbar {
	padding: 20px 20px;
	border-bottom: 1px solid hsla(0, 0%, 100%, 0.13);
}

.navbartext {
	max-width: 1600px;
}

.navbar a {
	color: white;
}

.navbar a:active {
	color: white;
}

.navbar a:visited {
	color: white;
}

.navbar li a:hover{
	background-color: transparent;
}

.navbar button {
	border-radius: 100px;
	padding: 8px 25px;
	color: white;
	background-color: transparent;
	border: 3px solid white;
	margin-top: -10px;
}

.nav {
	font-size: 16px;
	color: white;
}

.top-header h1 {
	margin: auto;
	color: white;
}

.top-header button {
	border-radius: 100px;
	border: none;
	background-color: white;
}

.top-header h3 {
	color: white;
	margin: auto;
}

.middle {
	height: auto;
	overflow: hidden;
}

.middleh {
	color: #333333;
}

.image-row {
	height: 346px;
	overflow: hidden;
}

.middle img {
	width: 195px;
	display: inline-block;
	padding: 0px 3px;
	padding-bottom: 5px;
	margin: auto;
}

img:nth-child(even) {
	padding-top: 45px;
}

.bottom {
	height: auto;
}


.middle button {
	color: #0088ff;
	background-color: white;
	border: 3px solid #0088ff;
}

.bottom {
	height: auto;
}

.bottom h4 {
	max-width: 600px;
}

#collection-google {
  color: #FFFFFF;
  background-color: #46c9f7;
	background-image: url(present.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: bottom center;
}

#collection-iOS {
  color: #222222;
  background-color: #F3F3F3;
	background-image: url(iOS.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: bottom center;
}

#collection-android {
  color: #FFFFFF;
  background-color: #22D0C1;
	background-image: url(android.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: bottom center;
}

#collection-photography {
  color: #FFFFFF;
  background-color: #243757;
	background-image: url(photography.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: bottom center;
}

#collection-space {
  color: #FFFFFF;
  background-color: #000;
	background-image: url(space.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: bottom center;
}

#collection-start {
  color: #FFFFFF;
  background-color: #48BEA3;
	background-image: url(rocket.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: bottom center;
}

#applets {
	padding-top: 50px;
}

.bottomapp {
	display: inline-block;
	margin: 5px 15px

}

.spacing {
	margin: 0 auto;
}


.bottom button {
	font-size: 27px;
	line-height: 27px;
	color: #FFF;
	margin-top: 40px;
	border-radius: 100px;
	padding: 15px 45px;
	background-color: #0088ff;
	border: 3px solid #0088ff;
	margin-bottom: 60px;
}

.footer li {
	display: inline-block;
	padding: 20px;
	font-size: 18px;
	color: #333;
}

.footer a {
	color: #333;
}

.download-apps {
	margin-bottom: 30px;
}

#apple {
	width: 150px;
	margin-right: 10px
}

#google {
	width: 150px;
}
