/*Style Entire Sheet*/

@media screen and (min-width: 0px) and (max-width: 321px) {
	#sbar {
		width: 250px;
		height: 40px;
	}
	.logo img {
		max-width: 180px;
	}
	.footer {
		display: none;
	}
	.searchbar {
		margin-left: 15px;
	}
	.center {
		top: 55px;
	}
	.buttons {
		font-size: 9pt;
		margin-left: -30px;
		margin-top: 31px;
	}
}

@media screen and (min-width: 322px) and (max-width: 705px) {
	#sbar {
		width: 300px;
		height: 40px;
	}
	.logo img {
		max-width: 200px;
	}
	.footer {
		display: none;
	}
	.searchbar {
		margin-left: 15px;
	}
	.center {
		top: 75px;
	}
	.buttons {
		font-size: 10pt;
		margin-left: -30px;
		margin-top: 31px;
	}
}


@media screen and (min-width: 706px) and (max-width: 5000px) {
	#sbar {
		width: 584px;
		height: 44px;
	}
	.logo img {
		max-width: 290px;
	}
	.searchbar {
		padding-left: 30px;
	}
	.center {
		top: 150px;
	}
	.buttons {
		font-size: 10pt;
		margin-left: -30px;
		margin-top: 31px;
	}
}



* {
	font-family: arial;
}

.container {
	text-align: center;
	width: 100%;
	height: auto;
	padding-top: 130px;
	margin: 0 auto;
}


/*Style Top Bar*/

.topbar {
	position: fixed;
	top: 0px;
	right: 0;
	margin-top: 5px;
}

.topbar a{
	color: #666;
	padding-right: 10px;
	font-size: 10pt;
}

.topbar a:link {
	text-decoration: none;
	color: #666;
}

.topbar a:visited {
	text-decoration: none;
	color: #666;
}

.topbar a:hover {
	text-decoration: underline;
}

.topbar a:active {
	text-decoration: none;
}

#grid {
	width: 20px;
	opacity: .75;
	margin-right: 18px;
}

#signin {
	background-color: #4285f4;
	color: white;
	font-weight: bold;
	font-size: 10pt;
	border-radius: 3px;
	padding: 5px 12px;
	margin: 0px;
	border: 1px solid #4285f4;
}

/*Style Center Logo Area*/

.center {
	width: 100%;
	padding: 0px;
	margin-top: 100px auto;
	position: relative;
}

.logo {
	margin-bottom: 25px;
}

.logo img {
	margin: 0 auto;
	padding: 0;
}

.searchbar {
	width: 100%;
}

#sbar {
	border: 1px solid #f2f2f2;
	box-shadow: 0px 1px 0px #f2f2f2;
	background-color: #fff;
	border-radius: 2px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
	transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
	margin: 0 auto;
	padding-left: 15px;
	text-align: left;
}

input#sbar {
	padding-left: -100x;
}

#microphone {
	position: relative;
	right: 45px;
}

#googlemic {
	width: 30px;
}

#googlesearch {
	margin-right: 5px;
}

button {
	background-color: #f2f2f2;
	border: 1px solid transparent;
	padding: 9px 15px 9px 15px;
	margin: 10px;
	border-radius: 2px;
}

button:hover {
	background-color: #f2f2f2;
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	border: 1px solid #c6c6c6;
	color: #222;
	border-radius: 2px;
}

.buttons {
	margin: 15px;
	color: #757575;
	font-weight: bold;
	font-family: arial;
}


/*Style Footer*/

.footer {
	background: #f2f2f2;
	border-top: 1px solid #e4e4e4;
	position: absolute;
	bottom: 0;
	left: 0px;
	width: 100%;
	font-size: small;
	height: 42px;
	margin-bottom: 0;
	clear: both;
	box-sizing: border-box;
}

#rightbar {
	float: right;
	padding-right: 0px;
	padding-top: 10px;
	margin: 0;
	border: none;
	box-sizing: border-box;
}

#leftbar {
	float: left;
	padding: 0;
	padding-top: 10px;
	margin: 0 31px;
	border: none;
	box-sizing: border-box;
}

.footer a {
	padding-right: 29px;
	margin: 0;
}

.footer a:link {
	text-decoration: none;
	color: #666;
}

.footer a:visited {
	text-decoration: none;
	color: #666;
}

.footer a:hover {
	text-decoration: underline;
}

.footer a:active {
	text-decoration: none;
}






